name: Build Pikapika Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.7.3'
          channel: 'stable'

      - name: Install Flutter dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release --split-per-abi --verbose

      - name: Upload APK artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pikapika-apks
          path: build/app/outputs/flutter-apk/app-*.apk
          retention-days: 7
